@using Amba.ULogin.Services
@using Orchard.Comments;
@using Orchard.Comments.Models
@using Orchard.Comments.Settings
@using Orchard.Utility.Extensions;
@{
    CommentsPart commentsPart = Model.ContentPart;
    var settings = commentsPart.TypePartDefinition.Settings.GetModel<CommentsPartSettings>();
}
<a id="leave_comment"></a>
<h2 id="commenter">
    @T("Оставьте комментарий")
</h2>
@if (WorkContext.CurrentUser == null)
{
    <div class="social-login-form">
        <div class="welcome-message">@T("Пожалуйста, представьтесь")</div>   
        <div class="ulogin-widget" id="uLogin_eafa0f0a" data-uloginid="eafa0f0a" data-ulogin="display=panel;fields=first_name,last_name;optional=sex,photo,email,phone,nickname,bdate,photo_big,city,country;providers=facebook,twitter,linkedin,vkontakte,googleplus,google,yandex;hidden=other;redirect_uri=;callback=uloginCallback"></div> 
    </div>
}

@if (!Model.ContentPart.CommentsActive)
{
    if (Model.ContentPart.Comments.Count > 0)
    {
    <div id="comments">
        <p class="comment-disabled">@T("Comments have been disabled for this content.")</p>
    </div>
    }
}
@if (WorkContext.CurrentUser != null)
{
    var prettyName = WorkContext.Resolve<IUserToolsService>().GetUserPrettyName(WorkContext.CurrentUser.ContentItem);
    
    <div id="comment-form-box">
        @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Comment", new {Area = "Orchard.Comments", ReturnUrl = Context.Request.ToUrlString() + "#comments"}), FormMethod.Post, new {@class = "comment-form"}))
        {
            @Display(Model.EditorShape)
            <button class="primaryAction" type="submit">@T("Отправить")</button>
        }
    </div>
}