@using Amba.ImagePowerTools.Fields
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
    var screenshots = (ImageMultiPickerField)Model.ContentItem.Project.Screenshots;
    var logoField = (ImageMultiPickerField)Model.ContentItem.Project.Logo;
    var logoImage = "";
    if (logoField.Images.Any())
    {
        logoImage = logoField.Images.First().FilePath;
    }
    var url = (string)Model.ContentItem.Project.ProjectURL.Value;
}
<article class="project-details">
    <header>
        <div class="logo-left">
            @Html.ResizedImage(logoImage, width:100, htmlAttributes: new {@class = "logo-image"}) 
        </div>
        <div class="text_right">    
            <h1>@Model.ContentItem.TitlePart.Title</h1>
            <div>
                @T("URL проекта:") <a href="@url">@url</a>
            </div>
        </div>  
    </header>
    <div class="full-description">
        @Html.Raw(Model.ContentItem.Project.FullDescription.HTML)
    </div>
    @if (screenshots.Images.Any())
    {
        <div class="projects-screenshots">
        
            @foreach (var image in screenshots.Images)
            {
                <p>
                    <div class="illustration-block">
                        <img src="@image.FilePath" alt="">
                        <div class="illustration-description">
                            @image.Description
                            @image.AsDynamic().title
                            @image.AsDynamic().woofwoof
                        </div>
                    </div>
                </p>
            }
        </div>
    }
</article>