@model MusukContent.Models.HtmlBlockExtender.GalleryImage
@using Amba.ImagePowerTools.HtmlHelpers

@{
    var imageSrc = Model.ImageSrc;
    if (!string.IsNullOrWhiteSpace(Model.ResizeSettingsQuery))
    {
        imageSrc = Url.ResizedImageUrl(imageSrc, settings: Model.ResizeSettingsQuery).ToHtmlString();
    }
    var url = String.IsNullOrWhiteSpace(Model.Href) ? Model.ImageSrc : Model.Href;
}

<div class="illustration-block">
    <div class="illustration-image-block">
        <a href="@url" target="_blank" @{
                                           if (string.IsNullOrWhiteSpace(Model.GalleryId)) {
                                               <text>data-group="@Model.GalleryId"</text>
                                           }
                                       }>
            <img alt="@Model.Alt" src="@imageSrc" />
        </a>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Alt))
    {
        <div class="illustration-description">
            @Model.Alt
        </div>
    }
</div>